<div class="chat" fxFlex fxLayout="column">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div class="h2">{{configuration.ID?'Update':'Create'}} Configuration</div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div id="chat-content" fxFlex="1 1 auto" fusePerfectScrollbar>
    <form autocomplete="off" name="form" [formGroup]="configurationMainFormGroup">
      <!-- {{configuration.Id?'Update':'Create'}} -->
      <!-- <div fxLayout="row" fxLayoutAlign="start">
    <mat-form-field class="p-12" fxFlex="100">
      <input matInput placeholder="Id" formControlName="Id">
      <mat-error *ngIf="configurationMainFormGroup.get('Id').touched && configurationMainFormGroup.get('Id').hasError('required')">Id
        required</mat-error>
    </mat-form-field>
  </div> -->
      <!-- <div fxLayout="row" fxLayoutAlign="start">
    <mat-form-field class="p-12" fxFlex="100">
      <input matInput placeholder="Type" formControlName="TYPE">
      <mat-error *ngIf="configurationMainFormGroup.get('TYPE').touched && configurationMainFormGroup.get('TYPE').hasError('required')">TYPE
        required</mat-error>
    </mat-form-field>
  </div> -->
      <div fxLayout="row" fxLayoutAlign="start">
        <mat-form-field class="p-4" fxFlex="100">
          <mat-select placeholder="Select Type" formControlName="TYPE" (selectionChange)="OnTypeChanged()">
            <mat-option *ngFor="let mp of AllTypeOptions" [value]="mp.key">{{mp.value}}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="configurationMainFormGroup.get('TYPE').touched && configurationMainFormGroup.get('TYPE').hasError('required')">
            Type
            is
            required</mat-error>
        </mat-form-field>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="start">
    <mat-form-field class="p-12" fxFlex="100">
      <input matInput placeholder="Station" formControlName="STATION">
      <mat-error *ngIf="configurationMainFormGroup.get('STATION').touched && configurationMainFormGroup.get('STATION').hasError('required')">STATION
        required</mat-error>
    </mat-form-field>
  </div> -->
      <div fxLayout="row" fxLayoutAlign="start">
        <mat-form-field class="p-4" fxFlex="100">
          <mat-select placeholder="Select Station" formControlName="STATION">
            <mat-option *ngFor="let mp of AllStationOptions" [value]="mp.STATION">{{mp.STATION}}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="configurationMainFormGroup.get('STATION').touched && configurationMainFormGroup.get('STATION').hasError('required')">
            Station
            is
            required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start">
        <mat-form-field class="p-4" fxFlex="100">
          <input matInput placeholder="Entry Id" formControlName="ENTRY_ID">
          <mat-error
            *ngIf="configurationMainFormGroup.get('ENTRY_ID').touched && configurationMainFormGroup.get('ENTRY_ID').hasError('required')">
            Entry Id
            required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start" *ngIf="isLoading">
        <mat-form-field class="p-4" fxFlex="100">
          <input matInput placeholder="Exit Id" formControlName="EXIT_ID">
          <mat-error
            *ngIf="configurationMainFormGroup.get('EXIT_ID').touched && configurationMainFormGroup.get('EXIT_ID').hasError('required')">
            Exit Id
            required</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start">
        <mat-form-field class="p-4" fxFlex="100">
          <input matInput placeholder="Plant" formControlName="PLANT">
          <mat-error
            *ngIf="configurationMainFormGroup.get('PLANT').touched && configurationMainFormGroup.get('PLANT').hasError('required')">
            Plant
            required</mat-error>
        </mat-form-field>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="start">
    <mat-form-field class="p-12" fxFlex="100">
      <input matInput placeholder="CreatedOn" formControlName="CreatedOn">
      <mat-error *ngIf="configurationMainFormGroup.get('CreatedOn').touched && configurationMainFormGroup.get('CreatedOn').hasError('required')">CreatedOn
        required</mat-error>
    </mat-form-field>
  </div> -->
      <!-- <div fxLayout="row" fxLayoutAlign="start">
    <div #gmap style="width:100%;height:400px"></div>
  </div> -->
      <!-- <agm-map [latitude]="LAT" [longitude]="LON">
      <agm-marker [latitude]="LAT" [longitude]="LON"></agm-marker>
  </agm-map> -->
      <!-- <div fxLayout="row" fxLayoutAlign="start">
    <mat-form-field class="p-12" fxFlex="100">
      <input matInput placeholder="Truck ID" formControlName="Id">
      <mat-error *ngIf="configurationMainFormGroup.get('Id').touched && configurationMainFormGroup.get('Id').hasError('required')">TRUCK ID
        Name required</mat-error>
    </mat-form-field>
  </div> -->
      <!-- <div fxLayout="row" fxLayoutAlign="start" fxFlex="1 0 auto">
    <mat-form-field class="p-12" fxFlex="100">
      <mat-select placeholder="App Name" formControlName="appIDList" [disabled]="configurationMainFormGroup.get('roleName').value==='Administrator'"
        multiple (selectionChange)="OnAppNameChanged()">
        <mat-option *ngFor="let mp of AllMenuApps" [value]="mp.AppID">{{mp.AppName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="configurationMainFormGroup.get('roleName').touched && configurationMainFormGroup.get('appIDList').hasError('required')">App
        Name required</mat-error>
    </mat-form-field>
  </div> -->
      <div fxLayout="row" fxLayoutAlign="end">
        <div fxLayoutAlign="end">
          <button mat-raised-button color="accent" TYPE="button" (click)="SaveClicked()">
            {{configuration.ID?'Update':'Create'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>