@import "src/@fuse/scss/fuse";
#dashboard-tat-withatl {
  .lessThanFourClass {
    color: rgba(0, 153, 0, 1);
  }
  .greatThanEightClass {
    color: rgba(230, 0, 0, 1);
  }
  .greatThanFourLessThanEightClass {
    color: rgba(230, 184, 0, 1);
  }
  .ProgressBarPostion1 {
    position: absolute !important;
    top: 350px;
    z-index: 1;
    left: 55%;
  }
  .center {
    padding: 5px !important;
  }
  .center1 {
    padding: 5px !important;
  }
  background-color: #fcfafa;
  .diagram-block {
    position: absolute;
    margin-left: 300px;
  }
  .dbimgsec {
    height: 630px;
  }
  .loadingsec {
    position: relative;
    color: black;
    top: 240px;
    left: -395px;
  }
  .unloadingsec {
    position: relative;
    color: black;
    top: 368px;
    left: -394px;
  }
  .parkingsec {
    position: relative;
    color: black;
    top: 161px;
    left: -667px;
  }
  .weighmentsec {
    position: relative;
    color: black;
    top: 115px;
    left: -501px;
  }
  .diagram-block a {
    font-size: 30px;
    font-weight: 800;
  }

  @media only screen and (max-width: 1024px) and (min-width: 992px) {
    .diagram-block {
      position: absolute;
      margin-left: 165px;
    }
    .dbimgsec {
      height: 450px;
    }
    .loadingsec {
      position: relative;
      color: black;
      top: 174px;
      left: -281px;
    }
    .unloadingsec {
      position: relative;
      color: black;
      top: 262px;
      left: -281px;
    }
    .parkingsec {
      position: relative;
      color: black;
      top: 117px;
      left: -476px;
    }
    .weighmentsec {
      position: relative;
      color: black;
      top: 82px;
      left: -355px;
    }
    .diagram-block a {
      font-size: 20px;
      font-weight: 800;
    }
  }

  @media only screen and (max-width: 1440px) and (min-width: 1025px) {
    .diagram-block {
      position: absolute;
      margin-left: 225px;
    }
    .dbimgsec {
      height: 430px;
    }
    .loadingsec {
      position: relative;
      color: black;
      top: 165px;
      left: -269px;
    }
    .unloadingsec {
      position: relative;
      color: black;
      top: 251px;
      left: -268px;
    }
    .parkingsec {
      position: relative;
      color: black;
      top: 111px;
      left: -461px;
    }
    .weighmentsec {
      position: relative;
      color: black;
      top: 78px;
      left: -358px;
    }
    .diagram-block a {
      font-size: 20px;
      font-weight: 800;
    }
  }

  @media only screen and (max-width: 2560px) and (min-width: 1921px) {
    .diagram-block {
      position: absolute;
      margin-left: 510px;
    }
    .dbimgsec {
      height: 735px;
    }
    .loadingsec {
      position: relative;
      color: black;
      top: 287px;
      left: -459px;
    }
    .unloadingsec {
      position: relative;
      color: black;
      top: 430px;
      left: -455px;
    }
    .parkingsec {
      position: relative;
      color: black;
      top: 192px;
      left: -773px;
    }
    .weighmentsec {
      position: relative;
      color: black;
      top: 136px;
      left: -574px;
    }
    .diagram-block a {
      font-size: 30px;
      font-weight: 800;
    }
  }

  .tableData {
    overflow: auto;
    height: 45vh !important;
    min-height: 45vh !important;
    // max-height: 33vh !important;
    .table {
      width: 150vw;
      max-width: 100%;
      overflow: auto;
      margin-bottom: 10px;
      display: table;
      border-collapse: collapse;
      margin: 0px;
      // background-color: rgb(238, 238, 238);
    }

    .row,
    .header-row {
      display: table-row;
      min-height: 36px !important;
    }
    .mat-row:hover {
      background-color: lightgrey;
    }
    .cell,
    .header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: fit-content;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
    }

    .header-row,
    .header-cell {
      margin: 0 auto;
      min-height: 100px !important;
      text-align: center;
      vertical-align: middle;
      align-self: center;
    }

    .mat-card {
      min-width: max-content;
      max-width: max-content;
    }

    .sort-header {
      display: flex;
      align-content: center;
      text-align: center;
      justify-content: center;
      font-size: 12pt;
    }

    .header-cell {
      font-weight: bold;
    }
  }
}
