<div id="dashboard-tat" class="page-layout carded" fusePerfectScrollbar *ngIf="AllDailyTATDetails">
    <div class="center" fxLayout="row" fxLayoutGap="1px">
        <div fxFlex>
            <div fxLayout="column" style="border: 4px solid grey;">
                <div fxFlex>
                    <h2
                        style="text-align:center ;color:white;font-weight:600 !important;margin-top: 0px;padding: 5px;background-color: grey;">
                        Daily TAT</h2>
                </div>
                <div fxFlex style="display: block">
                    <canvas baseChart [data]="demodoughnutChartData" [labels]="doughnutChartLabels"
                        [colors]="donutColors" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Average</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">{{AllDailyTATDetails.AVG_DAILY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Vehicles Count</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">
                                {{AllDailyTATDetails.TOTAL_VEHICLES_COUNT}}</div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Min TAT</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">{{AllDailyTATDetails.MIN_DAILY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Max TAT</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">{{AllDailyTATDetails.MAX_DAILY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex>
                    <h2
                        style="text-align:center ;color:white;font-weight:600 !important;margin-top: 0px;padding: 5px;background-color: grey;">
                        Weekly TAT</h2>
                </div>
                <div fxFlex style="display: block">
                    <canvas baseChart [data]="demodoughnutChartData" [labels]="doughnutChartLabels"
                        [colors]="donutColors" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div fxFlex>
                    <div fxLayout="row">
                        <div fxFlex>
                            123
                        </div>
                        <div fxFlex>
                            123
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex>
                    <h2
                        style="text-align:center ;color:white; font-weight:600 !important;margin-top: 0px;padding: 5px;background-color: grey;">
                        Monthly TAT</h2>
                </div>
                <div fxFlex style="display: block">
                    <canvas baseChart [data]="demodoughnutChartData" [labels]="doughnutChartLabels"
                        [colors]="donutColors" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
                <div fxFlex>
                    <div fxLayout="row">
                        <div fxFlex>
                            34567
                        </div>
                        <div fxFlex>
                            3424545676
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <h3 style="text-align:center">Daily TAT Reports(8AM to 8AM)</h3> -->
        <!-- <div style="display: block">
                <ngx-donut-chart
                [data]="donutChartData"
                [title]="'Average'"
                [radius]="88"
                [thickness]="10"
                [margin]="30">
              </ngx-donut-chart>
        </div> -->
    </div>
</div>