<div id="dashboard-tat" class="page-layout carded" fusePerfectScrollbar
    *ngIf="AllDailyTATDetails && AllWeeklyTATDetails && AllMonthlyTATDetails">
    <!-- <ngx-donut-chart
    [data]="donutChartData"
    [title]="'Average'"
    [radius]="88"
    [thickness]="10"
    [margin]="30">
  </ngx-donut-chart> -->
    <div class="center" fxLayout="row" fxLayoutGap="1px">
        <div fxFlex>
            <div fxLayout="column" style="border: 2px solid grey; height: 450px;">
                <div fxFlex>
                    <h2
                        style="text-align:center ;color:white;font-weight:600 !important;margin-top: 0px;padding: 5px;background-color: grey;">
                        Daily TAT</h2>
                </div>
                <div fxFlex style="display: block">
                    <canvas baseChart [data]="dailyTATDoughnutChartData" [labels]="dailyDoughnutChartLabels"
                        [colors]="dailyDoughnutColors" [chartType]="dailyDoughnutChartType"
                        (chartHover)="dailyChartHovered($event)" (chartClick)="dailyChartClicked($event)"></canvas>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Average</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;"
                                [ngClass]="AllDailyTATDetails.AVG_DAILY_TAT_VAL<4?'lessThanFourClass'
                                :AllDailyTATDetails.AVG_DAILY_TAT_VAL>8?'greatThanEightClass':
                                AllDailyTATDetails.AVG_DAILY_TAT_VAL>8 && AllDailyTATDetails.AVG_DAILY_TAT_VAL<8?'greatThanFourLessThanEightClass':''">
                                {{AllDailyTATDetails.AVG_DAILY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Vehicles Count</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">
                                <a style="cursor: pointer;"
                                    (click)="loadSelectedTATDetails('Daily')">{{AllDailyTATDetails.TOTAL_VEHICLES_COUNT}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Min TAT</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">{{AllDailyTATDetails.MIN_DAILY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Max TAT</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">{{AllDailyTATDetails.MAX_DAILY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="column" style="border: 2px solid grey; height: 450px;">
                <div fxFlex>
                    <h2
                        style="text-align:center ;color:white;font-weight:600 !important;margin-top: 0px;padding: 5px;background-color: grey;">
                        Weekly TAT</h2>
                </div>
                <div fxFlex style="display: block">
                    <canvas baseChart [data]="weeklyTATDoughnutChartData" [labels]="weeklyDoughnutChartLabels"
                        [colors]="weeklyDoughnutColors" [chartType]="weeklyDoughnutChartType"
                        (chartHover)="weeklyChartHovered($event)" (chartClick)="weeklyChartClicked($event)"></canvas>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Average</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;"
                                [ngClass]="AllWeeklyTATDetails.AVG_WEEKLY_TAT_VAL<4?'lessThanFourClass'
                                :AllWeeklyTATDetails.AVG_WEEKLY_TAT_VAL>8?'greatThanEightClass':
                                AllWeeklyTATDetails.AVG_WEEKLY_TAT_VAL>8 && AllWeeklyTATDetails.AVG_WEEKLY_TAT_VAL<8?'greatThanFourLessThanEightClass':''">
                                {{AllWeeklyTATDetails.AVG_WEEKLY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Vehicles Count</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">
                                <a style="cursor: pointer;"
                                    (click)="loadSelectedTATDetails('Weekly')">{{AllWeeklyTATDetails.TOTAL_VEHICLES_COUNT}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Min TAT</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">
                                {{AllWeeklyTATDetails.MIN_WEEKLY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Max TAT</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">
                                {{AllWeeklyTATDetails.MAX_WEEKLY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="column" style="border: 2px solid grey; height: 450px;">
                <div fxFlex>
                    <h2
                        style="text-align:center ;color:white;font-weight:600 !important;margin-top: 0px;padding: 5px;background-color: grey;">
                        Monthly TAT</h2>
                </div>
                <div fxFlex style="display: block">
                    <canvas baseChart [data]="monthlyTATDoughnutChartData" [labels]="monthlyDoughnutChartLabels"
                        [colors]="monthlyDoughnutColors" [chartType]="monthlyDoughnutChartType"
                        (chartHover)="monthlyChartHovered($event)" (chartClick)="monthlyChartClicked($event)"></canvas>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Average</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;"
                                [ngClass]="AllMonthlyTATDetails.AVG_MONTHLY_TAT_VAL<4?'lessThanFourClass'
                            :AllMonthlyTATDetails.AVG_MONTHLY_TAT_VAL>8?'greatThanEightClass':
                            AllMonthlyTATDetails.AVG_MONTHLY_TAT_VAL>8 && AllMonthlyTATDetails.AVG_MONTHLY_TAT_VAL<8?'greatThanFourLessThanEightClass':''">
                                {{AllMonthlyTATDetails.AVG_MONTHLY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Vehicles Count</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">
                                <a style="cursor: pointer;"
                                    (click)="loadSelectedTATDetails('Monthly')">{{AllMonthlyTATDetails.TOTAL_VEHICLES_COUNT}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Min TAT</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">
                                {{AllMonthlyTATDetails.MIN_MONTHLY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex style="border: 1px solid grey;">
                    <div fxLayout="row">
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">Max TAT</div>
                        </div>
                        <div fxFlex>
                            <div style="padding: 10px; font-weight:600 !important;">
                                {{AllMonthlyTATDetails.MAX_MONTHLY_TAT}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center1">
        <mat-card *ngIf="!tableShow" style="padding: 10px 24px 10px 24px">
            <mat-card-content *ngIf="commonTableShow">
                <div fxLayout="row">
                    <div fxFlex="40">
                        <h1 style="float:left;">{{commonTableShowName}}</h1>
                    </div>
                    <!-- <form *ngIf="isCommonTableFilter" style="padding: 2px 10px 2px 10px" class="" autocomplete="off"
                        fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                        [formGroup]="commonFilterFormGroup" novalidate>
                        <div class="" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="1 0 auto">

                            <mat-form-field color="accent" class=" px-16 py-4  formField">
                                <mat-label>From date</mat-label>
                                <input matInput [matDatepicker]="picker1" formControlName="FROMDATE">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error
                                    *ngIf="commonFilterFormGroup.get('FROMDATE').touched && commonFilterFormGroup.get('FROMDATE').hasError('required')">
                                    From date is required
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field color="accent" class="px-16 py-4 formField">
                                <mat-label>To Date</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="TODATE">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                <mat-error
                                    *ngIf="commonFilterFormGroup.get('TODATE').touched && commonFilterFormGroup.get('TODATE').hasError('required')">
                                    To date is required
                                </mat-error>
                            </mat-form-field>
                            
                                <mat-form-field class=" px-16 py-4  formField">
                                    <mat-select placeholder="Select Vehicle No" formControlName="VEHICLE_NO">
                                        <mat-option *ngFor="let vehicle of AllVehicleNos" [value]="vehicle">
                                            {{vehicle}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="commonFilterFormGroup.get('VEHICLE_NO').touched && commonFilterFormGroup.get('VEHICLE_NO').hasError('required')">
                                        Vehicle No is required
                                    </mat-error>
                                </mat-form-field>

                            <button mat-raised-button color="accent"
                                (click)="GetAllTransactionsBasedOnFilter(commonTableShowName)">Get
                                Details</button>
                        </div>
                    </form> -->
                    <!-- <div fxFlex="20" style="padding-top:10px;">
                            <button mat-raised-button color="accent" (click)="exportAsXLSX()">
                                <mat-icon svgIcon="excel" aria-hidden="false" aria-label="Excel SVG icon">
                                </mat-icon>Export XLSX
                            </button>
                        </div> -->
                    <div fxFlex="60" *ngIf="isCommonTableFilter">
                        <mat-form-field style="width: 80%; float: right;">
                            <input matInput (keyup)="applyCommonFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>
                    </div>
                    <div fxFlex="80" *ngIf="!isCommonTableFilter">
                        <mat-form-field style="width: 80%; float: right;">
                            <input matInput (keyup)="applyCommonFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="column" class="mt-10">
                    <div flex class="mt-10">
                        <div class="tableData" #TABLE>
                            <table class="table" mat-table [dataSource]="dataSource" matSort
                                [@animateStagger]="{value:'50'}">

                                <ng-container matColumnDef="VEHICLE_NO">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle No. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.VEHICLE_NO}} </td>
                                </ng-container>

                                <ng-container matColumnDef="GENTRY_DATE_ONLY">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gate Entry Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.GENTRY_DATE_ONLY}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="GENTRY_TIME_ONLY">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Gate Entry Time </th>
                                    <td mat-cell *matCellDef="let element"> {{element.GENTRY_TIME_ONLY}}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="TAT">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TAT</th>
                                    <td mat-cell *matCellDef="let element"> {{element.TAT}} </td>
                                </ng-container>

                                <ng-container matColumnDef="STATUS_DESCRIPTION">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status Description </th>
                                    <td mat-cell *matCellDef="let product">
                                        <p class="text-truncate">
                                            {{product.STATUS_DESCRIPTION}}
                                        </p>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="CUR_STATUS">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Status </th>
                                    <td mat-cell *matCellDef="let product"
                                        (click)="loadSelectedTransactionDetails(product)">
                                        <img width="50" class="product-image" *ngIf="product.CUR_STATUS"
                                            style="cursor: pointer;color: blue !important"
                                            [src]="product.CUR_STATUS==='GENTRY' ?'assets/images/gateEntry.png':
                                         product.CUR_STATUS==='LENTRY' ?'assets/images/vehicleLoading.png':
                                         product.CUR_STATUS==='ULENTRY' ?'assets/images/vehicleUnloading.png':
                                         product.CUR_STATUS==='LEXIT' ?'assets/images/vehicleLoading.png':
                                         product.CUR_STATUS==='ULEXIT' ?'assets/images/vehicleUnloading.png':
                                         product.CUR_STATUS==='W1ENTRY' ?'assets/images/weighment1.png':
                                         product.CUR_STATUS==='W1EXIT' ?'assets/images/weighment1.png':
                                         product.CUR_STATUS==='W2ENTRY' ?'assets/images/weighment2.png':
                                         product.CUR_STATUS==='W2EXIT' ?'assets/images/weighment2.png':
                                         product.CUR_STATUS==='GEXIT' ?'assets/images/gateExit.png':'assets/images/gateEntry.png'" [matTooltip]="product.CUR_STATUS==='GENTRY' ?'Gate Entry':
                            product.CUR_STATUS==='PENTRY' ?'Parking Entry':
                            product.CUR_STATUS==='PEXIT' ?'Parking Exit':
                            product.CUR_STATUS==='LENTRY' ?'Loading Entry':
                            product.CUR_STATUS==='LEXIT' ?'Loading Exit': 
                            product.CUR_STATUS==='ULENTRY' ?'UnLoading Entry':     
                            product.CUR_STATUS==='ULEXIT' ?'UnLoading Exit':
                            product.CUR_STATUS==='W1ENTRY' ?'Weighment 1  Entry':
                            product.CUR_STATUS==='W1EXIT' ?'Weighment 1  Exit':
                            product.CUR_STATUS==='W2ENTRY' ?'Weighment 2  Entry':
                            product.CUR_STATUS==='W2EXIT' ?'Weighment 2  Exit':
                            product.CUR_STATUS==='GEXIT' ?'Completed':''" />
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="TRUCK_ID">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Truck Id </th>
                                    <td mat-cell *matCellDef="let element"> {{element.TRUCK_ID}} </td>
                                </ng-container>

                                <ng-container matColumnDef="TRANSACTION_ID">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id </th>
                                    <td mat-cell *matCellDef="let element"> {{element.TRANSACTION_ID}} </td>
                                </ng-container>

                                <ng-container matColumnDef="TYPE">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                                    <td mat-cell *matCellDef="let element"> {{element.TYPE}} </td>
                                </ng-container>

                                <ng-container matColumnDef="BAY">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bay </th>
                                    <td mat-cell *matCellDef="let element"> {{element.BAY}} </td>
                                </ng-container>

                                <ng-container matColumnDef="DRIVER_DETAILS">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.DRIVER_DETAILS}} </td>
                                </ng-container>

                                <ng-container matColumnDef="DRIVER_NO">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver No </th>
                                    <td mat-cell *matCellDef="let element"> {{element.DRIVER_NO}} </td>
                                </ng-container>

                                <ng-container matColumnDef="TRANSPORTER_NAME">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Transporter Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.TRANSPORTER_NAME}} </td>
                                </ng-container>

                                <ng-container matColumnDef="CUSTOMER_NAME">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.CUSTOMER_NAME}} </td>
                                </ng-container>

                                <ng-container matColumnDef="MATERIAL">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
                                    <td mat-cell *matCellDef="let element"> {{element.MATERIAL}} </td>
                                </ng-container>

                                <ng-container matColumnDef="FG_DESCRIPTION">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Material Description </th>
                                    <td mat-cell *matCellDef="let element"> {{element.FG_DESCRIPTION}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" matRipple
                                    (click)="loadSelectedTransactionDetails(row)" style=" cursor: pointer;"></tr>
                            </table>
                        </div>
                    </div>
                    <div flex>
                        <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion1" color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
</div>