<div class="chat" fxFlex fxLayout="column">
    <mat-toolbar>
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <div class="h2">{{menuApp.AppID?'Update':'Create'}} App</div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div id="chat-content" fxFlex="1 1 auto" fxLayout="column" fusePerfectScrollbar>
        <form autocomplete="off" name="form" [formGroup]="menuAppMainFormGroup">
            <div fxLayout="row" fxLayoutAlign="start" >
                <mat-form-field fxFlex="100">
                    <input matInput placeholder="App Name" formControlName="appName">
                    <mat-error
                        *ngIf="menuAppMainFormGroup.get('appName').touched && menuAppMainFormGroup.get('appName').hasError('required')">
                        App Name required</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
                <button mat-raised-button type="button" (click)="ResetControl()" *ngIf="!menuApp.AppID"
                    style="margin-right:10px">
                    Clear
                </button>
                <button mat-raised-button color="warn" type="button" (click)="DeleteClicked()" *ngIf="menuApp.AppID"
                    style="margin-right:10px">
                    Delete
                </button>
                <button mat-raised-button color="accent" type="button" (click)="SaveClicked()">
                    {{menuApp.AppID?'Update':'Create'}}
                </button>
            </div>
        </form>
    </div>
</div>