<div id="queue" class="page-layout blank">
  <div class="contentQueue">
    <mat-card style="padding: 0px 10px 0px 10px">
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="40">
            <h1 style="float:left;">Queue Management</h1>
          </div>
          <!-- <div fxFlex="20" style="padding-top:10px;">
                          <button mat-raised-button color="accent" (click)="exportAsXLSX()">
                              <mat-icon svgIcon="excel" aria-hidden="false" aria-label="Excel SVG icon">
                              </mat-icon>Export XLSX
                          </button>
                      </div> -->
          <div fxFlex="60">
            <mat-form-field style="width: 50%; float: right;">
              <input matInput (keyup)="applyFilterQueue($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column" class="mt-10">
          <div flex class="mt-10">
            <div class="tableData" #TABLE>
              <table class="table" mat-table [dataSource]="dataSourceQueue" matSort>
                <ng-container matColumnDef="VEHICLE_NO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.VEHICLE_NO}} </td>
                </ng-container>

                <ng-container matColumnDef="ACTION">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon (click)="publicReAnnouncement(element)"> mic</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="STATUS_DESCRIPTION">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <p class="text-truncate">
                      <!-- {{element.CUR_STATUS=='GENTRY'?'Gate Entry':
                                      element.CUR_STATUS=='ULENTRY'?'Unloading Entry': element.CUR_STATUS=='ULEXIT'?'Unloading Exit': element.CUR_STATUS=='LEXIT'?'Loading Exit'
                                      : element.CUR_STATUS=='LENTRY'?'Loading Entry': element.CUR_STATUS=='PENTRY'?'Parking Entry': element.CUR_STATUS=='PEXIT'?'Parking Exit'
                                      : element.CUR_STATUS=='GEXIT'?'Gate Exit': element.CUR_STATUS=='W1ENTRY'?'Weighment 1 Entry': element.CUR_STATUS=='W1EXIT'?'Weighment 1 Exit': 
                                      element.CUR_STATUS=='W2ENTRY'?'Weighment 2 Entry': element.CUR_STATUS=='W2EXIT'?'Weighment 2 Exit':''}} -->
                      {{element.STATUS_DESCRIPTION}}
                    </p>
                  </td>
                </ng-container>

                <ng-container matColumnDef="BAY">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bay </th>
                  <td mat-cell *matCellDef="let element"> {{element.BAY}} </td>
                </ng-container>

                <ng-container matColumnDef="BAY_GROUP">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bay Group </th>
                  <td mat-cell *matCellDef="let element"> {{element.BAY_GROUP}} </td>
                </ng-container>

                <ng-container matColumnDef="TYPE">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.TYPE}} </td>
                </ng-container>

                <ng-container matColumnDef="TRANSACTION_ID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.TRANSACTION_ID}} </td>
                </ng-container>

                <ng-container matColumnDef="CREATED_ON">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Entered On </th>
                  <td mat-cell *matCellDef="let element"> {{element.CREATED_ON | date:'dd-MM-yyyy hh:mm:ss a'}} </td>
                </ng-container>

                <ng-container matColumnDef="TRANSPORTER_NAME">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Transporter Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.TRANSPORTER_NAME}} </td>
                </ng-container>

                <ng-container matColumnDef="CUSTOMER_NAME">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.CUSTOMER_NAME}} </td>
                </ng-container>

                <ng-container matColumnDef="FG_DESCRIPTION">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Material Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.FG_DESCRIPTION}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsQueue;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsQueue;" matRipple style=" cursor: pointer;">
                </tr>
              </table>
            </div>
          </div>
          <div flex>
            <mat-paginator [pageSizeOptions]="[15, 20, 30, 50, 75, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <div class="content1">
    <mat-card style="padding: 0px 10px 0px 10px">
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="40">
            <h1 style="float:left;">Stack Management</h1>
          </div>
          <div fxFlex="20" style="padding-top:10px;">
                          <button mat-raised-button color="accent" (click)="exportAsXLSX()">
                              <mat-icon svgIcon="excel" aria-hidden="false" aria-label="Excel SVG icon">
                              </mat-icon>Export XLSX
                          </button>
                      </div>
          <div fxFlex="60">
            <mat-form-field style="width: 50%; float: right;">
              <input matInput (keyup)="applyFilterStack($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column" class="mt-10">
          <div flex class="mt-10">
            <div class="tableData" #TABLE>
              <table class="table" mat-table [dataSource]="dataSourceStack" matSort>
                <ng-container matColumnDef="VEHICLE_NO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.VEHICLE_NO}} </td>
                </ng-container>

                <ng-container matColumnDef="TRANSACTION_ID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Id </th>
                  <td mat-cell *matCellDef="let element"> {{element.TRANSACTION_ID}} </td>
                </ng-container>

                <ng-container matColumnDef="CREATED_ON">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Entered On </th>
                  <td mat-cell *matCellDef="let element"> {{element.CREATED_ON | date:'dd-MM-yyyy hh:mm:ss a'}} </td>
                </ng-container>

                <ng-container matColumnDef="TRANSPORTER_NAME">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Transporter Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.TRANSPORTER_NAME}} </td>
                </ng-container>

                <ng-container matColumnDef="CUSTOMER_NAME">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.CUSTOMER_NAME}} </td>
                </ng-container>

                <ng-container matColumnDef="BAY">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bay </th>
                  <td mat-cell *matCellDef="let element"> {{element.BAY}} </td>
                </ng-container>

                <ng-container matColumnDef="BAY_GROUP">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Bay Group </th>
                  <td mat-cell *matCellDef="let element"> {{element.BAY_GROUP}} </td>
                </ng-container>

                <ng-container matColumnDef="FG_DESCRIPTION">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Material Description </th>
                  <td mat-cell *matCellDef="let element"> {{element.FG_DESCRIPTION}} </td>
                </ng-container>

                <ng-container matColumnDef="DRIVER_NO">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver No </th>
                  <td mat-cell *matCellDef="let element"> {{element.DRIVER_NO}} </td>
                </ng-container>

                <ng-container matColumnDef="TYPE">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.TYPE}} </td>
                </ng-container>

                <ng-container matColumnDef="ACTION">
                  <th mat-header-cell *matHeaderCellDef> Action </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-icon>arrow_upward
                    </mat-icon>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsStack;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsStack;" matRipple
                  (click)="moveSelectedItemDetailsAbove(row)" style=" cursor: pointer;"></tr>
              </table>
            </div>
          </div>
          <div flex>
            <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 75, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>