@import "src/@fuse/scss/fuse";

#transactionreport {
  // table {
  //   width: 100%;
  //   th {
  //     // background: #082f7d;
  //     // color: white !important;
  //     padding: 10px !important;
  //    // border-right: 1px solid #e0e0e0;
  //   }
  //   td {
  //     padding-left: 15px !important;
  //     // border-right: 1px solid #1b56ca;
  //   }
  //   tr {
  //     height: 40px;
  //     // border: 1px solid #1b56ca;
  //   }
  // }
  
  // table,
  // th,
  // tr,
  // td {
  //    border: 1px solid #082f7d !important;
  //   border-collapse: collapse;
  // }
  // .mat-table {
  //   border: 1px solid #082f7d;
  // } 

  // p {
  //   font-family: Lato;
  // }
  
  // mat-paginator{width:97vw;}
  
  .center{
    padding: 5px 5px 5px 5px;
  }

  .data {
    // display: block;
    // width: 95vw;
    overflow: auto;
    height: 42vh !important;
    min-height: 42vh !important;
    max-height: 42vh !important;
    .table {
      width: 670vw;
      max-width: 100%;
      overflow: auto;
      margin-bottom: 10px;
      display: table;
      border-collapse: collapse;
      margin: 0px;
      // background-color: rgb(238, 238, 238);
    }
    
    .row,
    .header-row {
      display: table-row;
      min-height: 40px !important;
    }
  
    .cell,
    .header-cell {
      word-wrap: initial;
      display: table-cell;
          padding: 0px 10px;
      line-break: unset;
      width: fit-content;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
    }
  
    .header-row,
    .header-cell {
      margin: 0 auto;
      min-height: 120px !important;
      text-align: center;
      vertical-align: middle;
      align-self: center;
    }

    .mat-card {
      min-width: max-content;
      max-width: max-content;
    }
  
    .sort-header {
      display: flex;
      align-content: center;
      text-align: center;
      justify-content: center;
      font-size: 12pt;
    }
  
    .header-cell {
      font-weight: bold;
    }
  }
  
}
